<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ReferFriend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReferrerProc</display-name>
    <servlet-name>ReferrerProc</servlet-name>
    <servlet-class>com.ke.refer.MerchantProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReferrerProc</servlet-name>
    <url-pattern>/ReferrerProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllMerchantsProc</display-name>
    <servlet-name>AllMerchantsProc</servlet-name>
    <servlet-class>com.ke.refer.AllMerchantsProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMerchantsProc</servlet-name>
    <url-pattern>/AllMerchantsProc</url-pattern>
  </servlet-mapping>
</web-app>